<div class="alert alert-success" role="alert" *ngIf="adicionado">
  Nome do funcionário: <strong>{{nome}}</strong>
</div>
<div class="form-group">
  <label >Nome</label>
    <input type="text" class="form-control" [(ngModel)]="nome" (focus)="adicionado=false" appCampoColorido cor="blue">
    <input type="text" class="form-control" [(ngModel)]="nome" (focus)="adicionado=false" appCampoColorido [cor]="'yellow'">
    <input type="text" class="form-control" [(ngModel)]="nome" (focus)="adicionado=false" appCampoColorido [cor]="green">
    <input type="text" class="form-control" [(ngModel)]="nome" (focus)="adicionado=false" [appCampoColorido]="'pink'">
</div>
<button type="button" class="btn btn-primary" [disabled]="nome.length == 0" (click)="adicionar()">Adicionar</button>
