<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="alert alert-success" role="alert" *ngIf="adicionado">
    Nome do funcionário: <strong>{{nome}}</strong>
  </div>

  <div class="alert alert-success" role="alert" [hidden]="!adicionado">
    OUTRO TESTE COM HIDDEN <strong>{{nome}}</strong>
  </div>
 
	<div class="form-group">
	  <label >Nome</label>
    <input type="text" class="form-control" [(ngModel)]="nome" (focus)="adicionado=false">
	
	</div>
	
	<button type="button" class="btn btn-primary" [disabled]="nome.length == 0" (click)="adicionar()">Adicionar</button>
  
  <div class="row" style="margin-top: 20px">

   <div class="col-2" *ngFor="let funcionario of funcionarios">
      <div class="card">
          <img class="card-img-top" src="https://randomuser.me/api/portraits/women/{{funcionario.id}}.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            {{funcionario.nome}}
          </div>
      </div>  
    </div>
   </div>
</div>